
manifest {
  author = "Scott Hazelhurst"
  description = "For learning Nextflow"
  mainScript = "compute_freqs.nf"
}


params {
  input_dir  = "plinks"
  example    = "example"
  cut_off    = 7
  input_pat  = "*"
  output_dir = "plinks_out"
  output     = "results"
}


docker {
  enabled = false
}

singularity {
  enabled = true
}

process {
  container="quay.io/wire/alpine-git"
}

