
profiles {

 standard {
      process.executor = 'local'
 }


 chpc {
        process.clusterOptions = '-P CBBI0930'
        process.executor = 'pbs'
        process.$Sorter.queue = 'serial'
        process.$Counter.queue = 'normal'
        process.$Counter.cpus = '48'
        process.$Sorter.clusterOptions = '-P CBBI0930 -l select=3'	

    }

}